* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightslategray; 
    background-color: blanchedalmond;
    height: 100vh;
}
header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
}
.header h1{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
.header nav,
footer h2 {

    font-size: 20px;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right; 
}
.header nav ul {
    list-style-type: none;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

p {
    background-color: aliceblue;
    padding: 1em;
    font-weight: 200;
    color: cornflowerblue;
    text-align: center;
    border: 7px solid beige;
    border-radius: 10px;
    margin: 0px;
}

.hero {
    height: 50px;
    width: 100%;
    background-image: url("../Assets/imgs/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg");
    background-size: cover;
    background-position: center;
    font-size: 20px;
    position: relative;
    text-align: center;
    color: #808000;
    margin: 0;
    padding: 0;
}
.subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.float-right {
    float: left;
    width: 15%;
}

main {
    display: flex;
    flex-direction: column;
}
section {
    display: flex;
    flex-direction: row;
}

.img-to-work{
    width: 80%;
}
.solid {
    border-left: 3px solid cornflowerblue;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -413px;
    top: 150px;
}

.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

.title {
    width: 151px;
    height: 69px;
    background-color: aliceblue;
    padding: 1em;
    font-weight: 700;
    color: cornflowerblue;
    text-align: center;
    border: 7px solid beige;
    border-radius: 10px;
}

.content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    border-right: 3px solid cornflowerblue;
   width: 20%;
}

footer {
    text-align: center;
}